{% load i18n %}
{% autoescape on %}
{% trans "You're receiving this email because you requested a password reset for your user account at CopalSchool." %}

{% trans "Your verification code is:" %} {{ verification_code }}

{% trans "Please go to the following page to enter the code and set a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_done' %}
{% endblock %}

{% trans "This code is valid for 1 hour." %}

{% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}

{% trans "Thanks for using our site!" %}
{% endautoescape %}