{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Set New Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="text-center">{% trans "Set New Password" %}</h2>
        {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">{% trans "Change Password" %}</button>
        </form>
        {% else %}
        <p>{% trans "The password reset link was invalid or has expired. Please request a new password reset." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}